openapi: 3.1.0
info:
  title: RichAPI API
  version: 1.0.0
  description: Includes every public endpoint plus whatever internal endpoints
    have been granted to your team.
servers:
  - url: https://api.richapi.ai/api/v1
tags:
  - name: Getting Started
    description: >
      Make your first API call in under 5 minutes.


      ## Base URL


      `https://api.richapi.ai/api/v1/`


      ## Authentication


      Every request requires an API key passed via the `x-api-key` header.


      **cURL**


      ```bash

      curl https://api.richapi.ai/api/v1/my-endpoints \
        -H "x-api-key: YOUR_API_KEY"
      ```


      **Python**


      ```python

      import requests


      response = requests.get(
          "https://api.richapi.ai/api/v1/my-endpoints",
          headers={"x-api-key": "YOUR_API_KEY"},
      )

      print(response.json())

      ```


      **JavaScript**


      ```javascript

      const response = await fetch("https://api.richapi.ai/api/v1/my-endpoints",
      {
        headers: { "x-api-key": "YOUR_API_KEY" },
      });

      console.log(await response.json());

      ```


      ### Your First API Call


      Enrich a LinkedIn profile:


      **cURL**


      ```bash

      curl -X POST https://api.richapi.ai/api/v1/enrich_profile \
        -H "x-api-key: YOUR_API_KEY" \
        -H "Content-Type: application/json" \
        -d '{"url": "https://www.linkedin.com/in/satyanadella"}'
      ```


      **Python**


      ```python

      import requests


      response = requests.post(
          "https://api.richapi.ai/api/v1/enrich_profile",
          headers={
              "x-api-key": "YOUR_API_KEY",
              "Content-Type": "application/json",
          },
          json={"url": "https://www.linkedin.com/in/satyanadella"},
      )

      print(response.json())

      ```


      **JavaScript**


      ```javascript

      const response = await
      fetch("https://api.richapi.ai/api/v1/enrich_profile", {
        method: "POST",
        headers: {
          "x-api-key": "YOUR_API_KEY",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ url: "https://www.linkedin.com/in/satyanadella" }),
      });

      const profile = await response.json();

      console.log(profile);

      ```


      Response:


      ```json

      {
        "firstname": "Satya",
        "lastname": "Nadella",
        "headline": "Chairman and CEO at Microsoft",
        "summary": "...",
        "picture": "https://...",
        "industry": "Technology",
        "location": {
          "country": "United States",
          "city": "Redmond",
          "state": "Washington"
        }
      }

      ```


      ### Check Your Usage


      Monitor your credit consumption anytime:


      **cURL**


      ```bash

      curl https://api.richapi.ai/api/v1/usage \
        -H "x-api-key: YOUR_API_KEY"
      ```


      **Python**


      ```python

      import requests


      response = requests.get(
          "https://api.richapi.ai/api/v1/usage",
          headers={"x-api-key": "YOUR_API_KEY"},
      )

      print(response.json())

      ```


      **JavaScript**


      ```javascript

      const response = await fetch("https://api.richapi.ai/api/v1/usage", {
        headers: { "x-api-key": "YOUR_API_KEY" },
      });

      console.log(await response.json());

      ```
  - name: Credits & Pricing
    description: >
      Credit-based billing system.


      ## Billing Rules


      - **Only successful calls are billed.** A non-2xx response deducts no
      credits.

      - **Per-result billing** (e.g. `people_search`) charges for the actual
      number of results returned, not the total available.

      - **Per-person/email billing** (e.g. email finding/verification) charges
      for the number of items in your `data` array.

      - **Inquiry-type endpoints are free.** Check results as many times as you
      want.


      ## Checking Your Usage


      **cURL**


      ```bash

      # Current month

      curl https://api.richapi.ai/api/v1/usage \
        -H "x-api-key: YOUR_API_KEY"

      # Specific month

      curl "https://api.richapi.ai/api/v1/usage?month=2026-03" \
        -H "x-api-key: YOUR_API_KEY"
      ```


      **Python**


      ```python

      import requests


      # Current month

      response = requests.get(
          "https://api.richapi.ai/api/v1/usage",
          headers={"x-api-key": "YOUR_API_KEY"},
      )

      print(response.json())


      # Specific month

      response = requests.get(
          "https://api.richapi.ai/api/v1/usage",
          headers={"x-api-key": "YOUR_API_KEY"},
          params={"month": "2026-03"},
      )

      print(response.json())

      ```


      **JavaScript**


      ```javascript

      // Current month

      const response = await fetch("https://api.richapi.ai/api/v1/usage", {
        headers: { "x-api-key": "YOUR_API_KEY" },
      });

      console.log(await response.json());


      // Specific month

      const monthly = await
      fetch("https://api.richapi.ai/api/v1/usage?month=2026-03", {
        headers: { "x-api-key": "YOUR_API_KEY" },
      });

      console.log(await monthly.json());

      ```


      Response:


      ```json

      {
        "months": ["2026-03"],
        "total_credits": 42.5,
        "apis": {
          "enrich_profile": {
            "calls": 25,
            "credits": 25
          },
          "people_search": {
            "calls": 5,
            "credits": 17.5
          }
        }
      }

      ```


      ## Rate Limits


      Every API key has a request-rate tier; exceeding it returns `429` with a

      `Retry-After` header indicating how many seconds to wait before retrying.

      Status polls are exempt. See the Error Handling guide for the exact

      response shape.
  - name: Error Handling
    description: >
      ## HTTP Status Codes


      | Code | Meaning | Billed? |

      |------|---------|---------|

      | `200` / `201` | Success | Yes |

      | `400` | Bad Request — invalid parameters | No |

      | `401` / `403` | Unauthorized/Forbidden — missing or invalid API key | No
      |

      | `402` | Insufficient credits | No |

      | `404` | Not Found — unknown endpoint | No |

      | `429` | Too Many Requests — quota exceeded | No |

      | `500` | Internal Server Error | No |

      | `502` / `504` | Upstream service error or timeout | No |


      ## Error Response Format


      Every error is a flat JSON object with an `error` string; some add fields
      specific to that failure:


      ```json

      {
        "error": "Description of what went wrong"
      }

      ```


      ## Common Errors


      ### Missing or Invalid API Key (401 / 403)


      ```json

      {
        "error": "No API access configured for this key"
      }

      ```


      Fix: Add the `x-api-key` header to every request.


      ### Unknown Endpoint (404)


      ```json

      {
        "error": "Unknown API: nonexistent. Use GET /api/v1/my-endpoints to see available APIs."
      }

      ```


      Fix: Check the endpoint name. There is no `available_apis` list in the

      response body — use `GET /api/v1/my-endpoints` to see what's callable.


      ### Insufficient Credits (402)


      ```json

      {
        "error": "Insufficient credits",
        "reserved": "5",
        "balance": "2.5"
      }

      ```


      Fix: Top up your account, or reduce the batch size of the request.


      ### Too Many Requests (429)


      ```json

      {
        "error": "Too Many Requests"
      }

      ```


      Fix: Wait for the number of seconds given in the `Retry-After` response
      header, then retry.


      ### Under Maintenance (503)


      ```json

      {
        "error": "This endpoint is under maintenance. It will be available again soon.",
        "code": "ENDPOINT_UNDER_MAINTENANCE"
      }

      ```


      Fix: Temporary — retry later. Contact support if it persists.


      ### Upstream / Timeout Errors (502 / 504)


      ```json

      {
        "error": "The upstream service is temporarily unavailable. Please try again later."
      }

      ```


      Fix: This is a server-side issue. Retry with backoff (see below); if it
      persists, contact support.


      ## Retry Strategy


      Retry `429`, `502`, and `504` with exponential backoff. Other 4xx errors
      will not succeed on retry without changing the request.


      ```python

      import time

      import requests


      def call_api(url, data, api_key, max_retries=3):
          for attempt in range(max_retries):
              response = requests.post(
                  url,
                  json=data,
                  headers={
                      "x-api-key": api_key,
                      "Content-Type": "application/json",
                  },
              )

              if response.status_code == 200:
                  return response.json()

              if response.status_code in (429, 502, 504):
                  wait = 2 ** attempt  # 1s, 2s, 4s
                  time.sleep(wait)
                  continue

              # Non-retryable error
              response.raise_for_status()

          raise Exception("Max retries exceeded")
      ```
  - name: AI
    description: Enrich, classify, extract, or summarize text using OpenAI,
      Anthropic, Gemini, or Perplexity.
  - name: Activity
    description: Fetch recent posts, comments, and reactions from a LinkedIn profile.
  - name: Ads
    description: Search and inspect ad activity across LinkedIn, Google, and Meta.
  - name: Directory
    description: Look up structured business and contact directory data.
  - name: Enrichment
    description: Enrich LinkedIn profiles and company pages with detailed data.
  - name: Funding Data
    description: Look up company funding rounds and investor data.
  - name: Leads
    description: Search and qualify leads by company and contact filters.
  - name: Maps
    description: Search places and business listings via Google Maps.
  - name: Posts
    description: Search and retrieve LinkedIn posts by keyword or author.
  - name: Search
    description: Search across 400M+ enriched LinkedIn profiles and posts with
      powerful filters.
  - name: Social
    description: Pull social metrics and links for a given profile or domain.
  - name: Utilities
    description: Helper endpoints for parsing, normalizing, and formatting data.
  - name: Waterfall
    description: Chain multiple providers to maximize match rate on a single request.
  - name: Web Scraping
    description: Scrape and extract structured data from any web page.
  - name: YouTube
    description: Search and retrieve YouTube channel, video, and search data.
x-tagGroups:
  - name: Guides
    tags:
      - Getting Started
      - Credits & Pricing
      - Error Handling
  - name: Endpoints
    tags:
      - AI
      - Activity
      - Ads
      - Directory
      - Enrichment
      - Funding Data
      - Leads
      - Maps
      - Posts
      - Search
      - Social
      - Utilities
      - Waterfall
      - Web Scraping
      - YouTube
paths:
  /ai_enrich:
    post:
      operationId: ai_enrich
      summary: AI Enrich
      description: >-
        Enrich, classify, extract, or summarize text using OpenAI, Anthropic,
        Gemini, or Perplexity.


        **Pricing:** 2 credits per call
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                  description: "AI provider: openai, anthropic, gemini, or perplexity"
                  pattern: ^(openai|anthropic|gemini|perplexity)$
                  enum:
                    - openai
                    - anthropic
                    - gemini
                    - perplexity
                prompt:
                  type: string
                  description: Prompt template; use {{fieldName}} placeholders for dynamic values
                model:
                  type: string
                  description: Model override; defaults to provider default model
                temperature:
                  type: number
                  description: Sampling temperature between 0 and 2
                  default: 0.3
                context:
                  type: object
                  description: Key-value pairs used for {{placeholder}} substitution in the prompt
                  default: {}
                system_prompt:
                  type: string
                  description: Optional system prompt or instructions
                output_type:
                  type: string
                  description: "Output format: text or json"
                  default: text
                  pattern: ^(text|json)$
                output_schema:
                  type: object
                  description: JSON schema used to guide structured output when output_type is
                    json
                  default: {}
                max_tokens:
                  type: integer
                  description: Maximum output tokens; defaults to provider default
                  default: 4096
                use_web_search:
                  type: boolean
                  description: Enable web search when supported by the selected provider
                  default: false
                search_domain_filter:
                  type: array
                  description: Perplexity only; limit search to specific domains
                search_recency_filter:
                  type: string
                  description: "Perplexity only; filter by recency: day, week, month, year"
                  pattern: ^(day|week|month|year)?$
                  enum:
                    - day
                    - week
                    - month
                    - year
              required:
                - prompt
                - provider
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                content: Northwind Robotics automates warehouse workflows.
                finish_reason: stop
                input_tokens: 18
                model: gpt-4o-mini
                output_tokens: 12
                provider: openai
                tokens_used: 30
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 2
  /clean_domain:
    post:
      operationId: clean_domain
      summary: Clean Domain
      description: |-
        Normalize a messy URL or domain string to a clean root domain.

        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                messy_url:
                  type: string
                  description: URL or domain to normalize (e.g. https://www.Example.COM/page?q=1)
              required:
                - messy_url
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                clean_domain: acme.com
                clean_url: https://www.acme.com
                validated_domain: true
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /count_occurrences:
    post:
      operationId: count_occurrences
      summary: Count Occurrences
      description: >-
        Count how many times a substring appears in a string, with optional
        case-insensitive matching.


        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  description: Input string to search within
                separator:
                  type: string
                  description: Substring to split and count by
                case_insensitive:
                  type: boolean
                  description: Case-insensitive matching (default false)
                  default: false
                limit:
                  type: integer
                  description: Max results to return (0 for all, max 1000)
                  default: 0
              required:
                - input
                - separator
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  - count: 2
                    item: foo
                  - count: 1
                    item: bar
                  - count: 1
                    item: baz
                total_items: 4
                unique_items: 3
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /crunchbase_company_scraper_sync:
    post:
      operationId: crunchbase_company_scraper_sync
      summary: Crunchbase Company Scraper
      description: >-
        Scrape Crunchbase company profiles — funding rounds, investors, employee
        count, and more.


        **Pricing:** 3 credits per call
      tags:
        - Funding Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                crunchbase_company_url:
                  type: string
                  description: URL of the company's profile on Crunchbase (e.g.
                    https://www.crunchbase.com/organization/openai)
              required:
                - crunchbase_company_url
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                Description: example
                Founded Date: example
                Headquarters Location: example
                Industries: example
                Last Funding Date: example
                Last Funding Type: example
                LinkedIn: example
                Number of Employees: example
                Organization Name: example
                Total Funding Amount (in USD): 1
                Website: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 3
  /directory_yellowpages:
    post:
      operationId: directory_yellowpages
      summary: Yellow Pages Search
      description: >-
        Search Yellow Pages for businesses with name, phone, address, website,
        and categories.


        **Pricing:** 0.01 credits per result
      tags:
        - Directory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search_query:
                  type: string
                  description: Business type or name to search for.
                location:
                  type: string
                  description: City, state, or ZIP code.
                page:
                  type: integer
                  description: Page number for pagination (default 1).
                  default: 1
                max_pages:
                  type: integer
                  description: Maximum number of pages to scrape.
                  default: 1
              required:
                - location
                - search_query
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  businesses:
                    - address: 1 Example Street, Springfield
                      categories:
                        - Plumbers
                        - Water Heaters
                      name: ABC Plumbing
                      phone: (512) 555-0123
                      rating: 4.8
                      website: https://abcplumbing.example.com
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        base_credits_per_call: 0
        credits_per_result: 0.01
        result_count_field: _list_count
  /distribute_leads:
    post:
      operationId: distribute_leads
      summary: Distribute Leads
      description: >-
        Round-robin distribute leads across a set of assignment labels (e.g.
        sales reps).


        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignment_labels:
                  type: string
                  description: Comma-separated assignment labels (e.g. Team A,Team B,Team C)
                values_associated_with_labels:
                  type: string
                  description: Comma-separated values to distribute (e.g. alice@example.com,bob@example.com)
                current_index:
                  type: integer
                  description: Starting index for round-robin (default 0)
                  default: 0
              required:
                - values_associated_with_labels
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                assignments: []
                next_index: 1
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /email_finder:
    post:
      operationId: email_finder
      summary: Email Finder
      description: >-
        Find a verified work email using name, domain, or LinkedIn URL. Tries
        multiple providers automatically.


        **Pricing:** 5 credits per call
      tags:
        - Enrichment
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: First name (required if no linkedin_url)
                last_name:
                  type: string
                  description: Last name (required if no linkedin_url)
                company_domain:
                  type: string
                  description: Company domain (required if no linkedin_url)
                linkedin_url:
                  type: string
                  description: LinkedIn profile URL (alternative to name + domain)
                company_name:
                  type: string
                  description: Company name (optional, improves accuracy)
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                confidence: example
                email: example
                provider: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 5
  /email_verifier:
    post:
      operationId: email_verifier
      summary: Email Verifier
      description: |-
        Verify email deliverability and validity via multi-provider waterfall.

        **Pricing:** 2 credits per call
      tags:
        - Waterfall
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address to verify
                  pattern: ^[^\s@]+@[^\s@]+\.[^\s@]+$
              required:
                - email
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                disposable: true
                email: example
                mxFound: true
                status: example
                valid: true
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 2
  /encode_uri:
    post:
      operationId: encode_uri
      summary: Encode URI
      description: |-
        URL-encode a string for safe use in query parameters or path segments.

        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: String to URL-encode (RFC 3986)
              required:
                - value
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                encoded: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /enrich_companies_bulk:
    post:
      operationId: enrich_companies_bulk
      summary: Bulk Company Enrichment
      description: >-
        Fetch up to 50 LinkedIn company profiles in a single call using company
        IDs.


        **Pricing:** 1 credit per result
      tags:
        - Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                urns:
                  type: array
                  description: List of numeric LinkedIn company IDs (max 50)
              required:
                - urns
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 1
        result_count_field: _list_count
  /enrich_company:
    post:
      operationId: enrich_company
      summary: Company Enrichment
      description: >-
        Get company data from LinkedIn including size, industry, specialties and
        employee insights.


        **Pricing:** 1 credit per call
      tags:
        - Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: LinkedIn company page URL
              required:
                - url
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                companySize: example
                description: example
                followerCount: 1
                founded: 1
                headquarters: example
                industry: example
                linkedinUrl: example
                logo: example
                name: example
                specialties: []
                website: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 1
  /enrich_profile:
    post:
      operationId: enrich_profile
      summary: Profile Enrichment
      description: >-
        Get LinkedIn profile data including name, headline, location,
        experience, education and more. Base price is 1 credits per call. When
        `include_social_metrics` is `True`, the optional component adds 1
        credits; it is not charged when unavailable.


        **Pricing:** 1 credit per call
      tags:
        - Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: LinkedIn profile URL
                include_social_metrics:
                  type: boolean
                  description: Include optional social metrics when available.
                  default: false
              required:
                - url
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                certifications: []
                connectionCount: 1
                currentCompany: example
                currentTitle: example
                education: []
                experience: []
                firstname: example
                followerCount: 1
                headline: example
                languages: []
                lastname: example
                linkedinUrl: example
                location: example
                profilePicture: example
                skills: []
                summary: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 1
        min_credits_per_call: 1
        max_credits_per_call: 2
        conditional_components:
          - id: social_metrics
            when:
              field: include_social_metrics
              equals: true
            credits_per_call: 1
            description: Optional component; unavailable components are not charged.
  /enrich_profiles_bulk:
    post:
      operationId: enrich_profiles_bulk
      summary: Bulk Profile Enrichment
      description: |-
        Fetch up to 50 LinkedIn profiles in a single call using entity URNs.

        **Pricing:** 1 credit per result
      tags:
        - Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                urns:
                  type: array
                  description: List of LinkedIn entity URNs (max 50)
              required:
                - urns
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 1
        result_count_field: _list_count
  /extract_urls_emails:
    post:
      operationId: extract_urls_emails
      summary: Extract URLs & Emails
      description: |-
        Extract all URLs and email addresses from a block of text.

        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Text block to extract URLs and emails from
              required:
                - text
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                emails: []
                urls: []
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /find_linkedin_url_by_email:
    post:
      operationId: find_linkedin_url_by_email
      summary: Find LinkedIn URL by Email
      description: |-
        Finds a LinkedIn profile URL using an email address.

        **Pricing:** 4 credits per call
      tags:
        - Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address of the person
                  pattern: ^[^\s@]+@[^\s@]+\.[^\s@]+$
              required:
                - email
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  LinkedIn Profile URL: example
                status: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 4
  /find_linkedin_url_by_name:
    post:
      operationId: find_linkedin_url_by_name
      summary: Find LinkedIn URL by Name
      description: |-
        Finds a LinkedIn profile URL using full name and company name.

        **Pricing:** 4 credits per call
      tags:
        - Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                  description: Full name of the person (e.g. Satya Nadella)
                company_name:
                  type: string
                  description: Company name (e.g. Microsoft)
              required:
                - company_name
                - full_name
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  LinkedIn Profile URL: example
                status: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 4
  /find_personal_email:
    post:
      operationId: find_personal_email
      summary: Find Personal Email
      description: >-
        Finds a person's personal email addresses using their LinkedIn profile
        URL.


        **Pricing:** 5 credits per call
      tags:
        - Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                linkedin_url:
                  type: string
                  description: LinkedIn profile URL of the person
              required:
                - linkedin_url
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  email: jane.doe@example.com
                  status: ok
                  verifier: Million Verifier
                id: 6a6874c544af2d8d82d07ed3
                status: success
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 5
  /find_redirect:
    post:
      operationId: find_redirect
      summary: Find Redirect
      description: |-
        Follow a URL through all redirects and return the final destination URL.

        **Pricing:** 1 credit per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                link:
                  type: string
                  description: URL to follow through all redirects to the final destination
              required:
                - link
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                final_url: example
                redirect_chain: []
                status_code: 1
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 1
  /find_sitemap_urls:
    post:
      operationId: find_sitemap_urls
      summary: Find Sitemap URLs
      description: |-
        Discover and filter URLs from a domain's sitemap by keyword.

        **Pricing:** 1 credit per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: Domain to discover sitemap URLs from (e.g. stripe.com)
                keywords:
                  type: string
                  description: Comma-separated keywords to filter URLs
                exact_match:
                  type: boolean
                  description: Match keywords exactly (default false)
                  default: false
              required:
                - domain
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                total: 1
                urls: []
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 1
  /find_website_by_company_name:
    post:
      operationId: find_website_by_company_name
      summary: Find Website by Company Name
      description: |-
        Finds a company website URL using its name.

        **Pricing:** 1 credit per call
      tags:
        - Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: Name of the company
              required:
                - company_name
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  Website: example
                status: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 1
  /format_datetime:
    post:
      operationId: format_datetime
      summary: Format Datetime
      description: >-
        Parse and reformat a date/time string with optional timezone conversion
        and locale.


        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: Date/time string to parse (ISO 8601 or common formats)
                format:
                  type: string
                  description: strftime format string for output (e.g. %B %d, %Y)
                original_timezone:
                  type: string
                  description: Timezone of the input date (e.g. UTC)
                new_timezone:
                  type: string
                  description: Target timezone for output (e.g. America/New_York)
                locale:
                  type: string
                  description: Locale for month/day names (e.g. en, fr)
              required:
                - date
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                formatted: example
                iso: example
                timezone: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /geo_id_search:
    post:
      operationId: geo_id_search
      summary: Geo ID Search
      description: >-
        Resolve a location name to a LinkedIn Geo ID for use with profile and
        lead search filters.


        **Pricing:** 0.01 credits per call
      tags:
        - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search:
                  type: string
                  description: Location name to search (e.g. 'San Francisco', 'London')
              required:
                - search
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                elements:
                  - geoId: example
                    title: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.01
  /google_ad_transparency_scraper_sync:
    post:
      operationId: google_ad_transparency_scraper_sync
      summary: Google Ad Transparency Scraper
      description: >-
        Scrape Google Ad Transparency reports — see active ads, creative
        formats, and geographic targeting.


        **Pricing:** 3 credits per result
      tags:
        - Ads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                google_ad_url:
                  type: string
                  description: Google Ad Transparency search URL
                limit:
                  type: integer
                  description: Max items to return (max 100)
                  default: 0
              required:
                - google_ad_url
                - limit
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                adUrl: example
                advertiserId: example
                creativeId: example
                format: example
                landingDomain: example
                landingUrls: []
                lastShown: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 3
        result_count_field: _list_count
  /google_maps_places_scraper_keyword:
    post:
      operationId: google_maps_places_scraper_keyword
      summary: Google Maps Places (Keyword)
      description: >-
        Search for business places on Google Maps by keyword and location (e.g.,
        'cafe' in 'Pune').


        **Pricing:** 0.1 credits per result
      tags:
        - Maps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search_query:
                  type: string
                  description: Fuzzy keyword search.
                location_query:
                  type: string
                  description: Fuzzy location search.
                limit:
                  type: integer
                  description: Maximum number of places to return (default is 25).
                  default: 25
              required:
                - limit
                - search_query
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: array
              example:
                - categories:
                    - Coffee shop
                    - Coffee roastery
                    - Coffee stand
                    - Coffee store
                    - Espresso bar
                  categoryName: Coffee shop
                  city: Springfield
                  countryCode: US
                  phone: (555) 555-0123
                  reviewsCount: 1255
                  state: Example State
                  street: 1 Example Street
                  title: Example Coffee Roasters
                  totalScore: 5
                  url: https://example.com
                  website: https://example.com
                - categories:
                    - Coffee shop
                  categoryName: Coffee shop
                  city: Springfield
                  countryCode: US
                  phone: (555) 555-0123
                  reviewsCount: 416
                  state: Example State
                  street: 1 Example Street
                  title: Example Coffee Roasters
                  totalScore: 4.6
                  url: https://example.com
                  website: https://example.com
                - categories:
                    - Coffee shop
                    - Breakfast restaurant
                    - Cafe
                  categoryName: Coffee shop
                  city: Springfield
                  countryCode: US
                  phone: (555) 555-0123
                  reviewsCount: 823
                  state: Example State
                  street: 1 Example Street
                  title: Example Coffee Roasters
                  totalScore: 4.6
                  url: https://example.com
                  website: https://example.com
                - categories:
                    - Coffee shop
                    - Cafe
                    - Deli
                  categoryName: Coffee shop
                  city: Springfield
                  countryCode: US
                  phone: (555) 555-0123
                  reviewsCount: 316
                  state: Example State
                  street: 1 Example Street
                  title: Example Coffee Roasters
                  totalScore: 4.7
                  url: https://example.com
                - categories:
                    - Coffee shop
                  categoryName: Coffee shop
                  city: Springfield
                  countryCode: US
                  phone: (555) 555-0123
                  reviewsCount: 742
                  state: Example State
                  street: 1 Example Street
                  title: Example Coffee Roasters
                  totalScore: 4.7
                  url: https://example.com
                  website: https://example.com
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        base_credits_per_call: 0
        credits_per_result: 0.1
        result_count_field: _list_count
  /google_maps_places_scraper_sync_using_url:
    post:
      operationId: google_maps_places_scraper_sync_using_url
      summary: Google Maps Places (URL)
      description: |-
        Scrape Google Maps places directly from a search results URL.

        **Pricing:** 0.1 credits per result
      tags:
        - Maps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                google_map_search_url:
                  type: string
                  description: Google Maps search results URL
                limit:
                  type: integer
                  description: Max results to return (default 5, max 300)
                  default: 5
              required:
                - google_map_search_url
                - limit
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                address: example
                categoryName: example
                reviewsCount: 1
                title: example
                totalScore: 1
                url: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 0.1
        result_count_field: _list_count
  /google_maps_reviews_scraper_sync:
    post:
      operationId: google_maps_reviews_scraper_sync
      summary: Google Maps Reviews
      description: |-
        Scrape reviews for a specific Google Maps place synchronously.

        **Pricing:** 0.1 credits per result
      tags:
        - Maps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                google_map_review_url:
                  type: string
                  description: Google Maps place URL to scrape reviews for
                limit:
                  type: integer
                  description: Maximum number of reviews to return (max 300)
                  default: 5
                review_sort:
                  type: string
                  description: "Sort order: mostRelevant, newest, highestRanking, lowestRanking"
                  default: newest
                  pattern: ^(mostRelevant|newest|highestRanking|lowestRanking)$
                  enum:
                    - newest
                    - mostRelevant
                    - highestRanking
                    - lowestRanking
              required:
                - google_map_review_url
                - limit
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                publishAt: example
                reviewId: example
                reviewerName: example
                stars: 1
                text: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 0.1
        result_count_field: _list_count
  /google_search_scraper_sync:
    post:
      operationId: google_search_scraper_sync
      summary: Google Search Scraper
      description: |-
        Scrape Google Search results synchronously.

        **Pricing:** 1 credit per result
      tags:
        - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                search_query:
                  type: string
                  description: Search query string
                limit:
                  type: integer
                  description: Maximum number of result pages to fetch (max 100)
                  default: 0
              required:
                - search_query
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                description: example
                title: example
                url: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 1
        result_count_field: _list_count
  /identify_email_type:
    post:
      operationId: identify_email_type
      summary: Identify Email Type
      description: >-
        Classify an email address as personal, business, role-based, or
        disposable.


        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address to classify
              required:
                - email
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                domain: example
                type: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /lead_search:
    post:
      operationId: lead_search
      summary: Lead Search
      description: >-
        Advanced LinkedIn lead search with 30+ filters including seniority,
        function, geography, company, title, Sales Navigator URL, and exclusion
        filter support.


        **Pricing:** 10 credits base + 0.5 credits per result
      tags:
        - Leads
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search_query:
                  type: string
                  description: Fuzzy keyword search.
                sales_nav_url:
                  type: string
                  description: Full LinkedIn Sales Navigator search URL. May be combined with
                    individual filters.
                locations:
                  type: array
                  description: Location names
                geo_ids:
                  type: array
                  description: LinkedIn geo IDs or location names
                seniority:
                  type: array
                  description: Seniority labels resolved to LinkedIn seniorityLevelIds.
                functions:
                  type: array
                  description: Job function labels resolved to LinkedIn functionIds.
                industries:
                  type: array
                  description: Industry labels resolved to LinkedIn industryIds.
                company_size:
                  type: array
                  description: Company size ranges.
                years_of_experience:
                  type: array
                  description: Experience range labels resolved to LinkedIn yearsOfExperienceIds.
                years_at_current_company:
                  type: array
                  description: Tenure range labels resolved to LinkedIn yearsAtCurrentCompanyIds.
                profile_languages:
                  type: array
                  description: Profile language labels resolved to language codes.
                current_companies:
                  type: array
                  description: Current company LinkedIn URLs or IDs.
                past_companies:
                  type: array
                  description: Past company LinkedIn URLs or IDs.
                current_job_titles:
                  type: array
                  description: Current job title filters.
                past_job_titles:
                  type: array
                  description: Past job title filters.
                first_names:
                  type: array
                  description: First name filters.
                last_names:
                  type: array
                  description: Last name filters.
                schools:
                  type: array
                  description: School LinkedIn URLs or IDs.
                recently_changed_jobs:
                  type: boolean
                  description: Filter for people who recently changed jobs.
                company_headquarter_locations:
                  type: array
                  description: Company headquarters location filters.
                exclude_seniority:
                  type: array
                  description: Seniority labels to exclude.
                exclude_industries:
                  type: array
                  description: Industry labels to exclude.
                exclude_functions:
                  type: array
                  description: Job function labels to exclude.
                exclude_locations:
                  type: array
                  description: Location text values to exclude.
                exclude_geo_ids:
                  type: array
                  description: LinkedIn geo IDs or location names to exclude.
                exclude_current_companies:
                  type: array
                  description: Current company LinkedIn URLs or IDs to exclude.
                exclude_past_companies:
                  type: array
                  description: Past company LinkedIn URLs or IDs to exclude.
                exclude_current_job_titles:
                  type: array
                  description: Current job titles to exclude.
                exclude_past_job_titles:
                  type: array
                  description: Past job titles to exclude.
                exclude_schools:
                  type: array
                  description: School LinkedIn URLs or IDs to exclude.
                exclude_company_headquarter_locations:
                  type: array
                  description: Company headquarters locations to exclude.
                page:
                  type: integer
                  description: Positive page number for pagination. Defaults to 1.
                  default: 1
                session_id:
                  type: string
                  description: Optional unique ID used to keep pagination requests on the same
                    scraping resource. Generate a random string (for example, a
                    UUID) and send the same value with each page request
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                elements:
                  - firstName: Rayara
                    id: ACwAAAExampleMemberUrn0000000000000000
                    lastName: Chambela Geronimo
                    linkedinUrl: https://www.linkedin.com/in/ACwAAAExampleMemberUrn0000000000000000
                    location:
                      countryCode: br
                      geoId: "101165590"
                      linkedinText: Santo Andre, Sao Paulo, Brazil
                    openProfile: false
                    pictureUrl: https://media.licdn.com/dms/image/example-logo.jpg
                    premium: false
                    summary: Currently pursuing a degree in Systems Analysis and Development...
                pagination:
                  pageNumber: 1
                  pageSize: 25
                  previousElements: 0
                  totalElements: 12345678
                  totalPages: 100
                sessionId: session_abc123
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        base_credits_per_call: 10
        credits_per_result: 0.5
        result_count_field: elements
  /linkedin_ad_details:
    post:
      operationId: linkedin_ad_details
      summary: LinkedIn Ad Details
      description: >-
        Get full details of a specific LinkedIn ad including variants,
        impressions by country, and targeting.


        **Pricing:** 2 credits per call
      tags:
        - Ads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ad_url:
                  type: string
                  description: LinkedIn Ad Library detail URL (e.g.
                    https://www.linkedin.com/ad-library/detail/1000000000)
              required:
                - ad_url
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                element:
                  about:
                    advertiserName: Example Advertiser
                    advertiserUrl: https://www.linkedin.com/company/northwind-robotics?trk=ad_library_about_ad_advertiser
                    format: Single Image Ad
                    paidBy: UX Pilot
                  id: "1215501393"
                  impressions: null
                  targeting: null
                  variants:
                    - advertiser:
                        headline: Promoted
                        imageUrl: https://media.licdn.com/dms/image/example-logo.jpg
                        linkedinUrl: https://www.linkedin.com/company/northwind-robotics?trk=ad_library_ad_preview_advertiser_image
                        name: Example Advertiser
                      content:
                        ctaLabel: Learn more
                        description: >-
                          Paste your PRD, generate multi-step flows with your
                          actual components, and get screens that look like your
                          product, in seconds, not generic AI output.


                          See it in action today.
                        headline: Generate wireframes in seconds
                        imageUrl: https://media.licdn.com/dms/image/example-logo.jpg
                        targetUrl: null
                      creativeType: SPONSORED_STATUS_UPDATE
                query:
                  url: https://example.com
                status: 200
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 2
  /linkedin_ad_search:
    post:
      operationId: linkedin_ad_search
      summary: LinkedIn Ad Search
      description: >-
        Search LinkedIn Ad Library for active ads by advertiser, keyword, or
        country.


        **Pricing:** 0.2 credits per result
      tags:
        - Ads
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                keyword:
                  type: string
                  description: Keyword to search ads for
                account_owner:
                  type: string
                  description: Advertiser or company name
                countries:
                  type: string
                  description: Comma-separated country codes (e.g. 'US,GB') or 'ALL'
                  default: ALL
                date_option:
                  type: string
                  description: "Date range: last-30-days, current-month, current-year, last-year,
                    or custom-date-range"
                  enum:
                    - last-30-days
                    - current-month
                    - current-year
                    - last-year
                    - custom-date-range
                start_date:
                  type: string
                  description: Start date for custom range (YYYY-MM-DD)
                end_date:
                  type: string
                  description: End date for custom range (YYYY-MM-DD)
                pagination_token:
                  type: string
                  description: Pagination token from previous response
                search_url:
                  type: string
                  description: Full LinkedIn Ad Library search URL (alternative to individual
                    filters)
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                elements:
                  - advertiser:
                      headline: Promoted
                      imageUrl: https://media.licdn.com/dms/image/example-logo.jpg
                      name: Example Advertiser
                    content:
                      description: >-
                        Why did I spend so much time and money building an
                        Applicant Tracking System for small employers?


                        Because after 25 year…
                      headline: Gatekeeper - HRmango
                      imageUrl: https://media.licdn.com/dms/image/example-logo.jpg
                      pageUrl: https://www.linkedin.com/ad-library/detail/1000000000
                    creativeType: SPONSORED_STATUS_UPDATE
                    id: "1440550993"
                pagination:
                  pageNumber: null
                  pageSize: 1
                  paginationToken: 1460308964-1782143461901
                  previousElements: null
                  totalElements: 1
                  totalPages: 1
                query:
                  account_owner: example
                  countries: US
                  date_option: last-30-days
                  keyword: marketing automation
                status: 200
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 0.2
        result_count_field: elements
  /linkedin_company_employees_search:
    post:
      operationId: linkedin_company_employees_search
      summary: LinkedIn Company Employees Search
      description: |-
        Search for employees of a specific company using its LinkedIn URL.

        **Pricing:** 0.1 credits per result
      tags:
        - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_linkedin_url:
                  type: string
                  description: LinkedIn URL of the company
                page:
                  type: integer
                  description: Page number for pagination
                  default: 1
              required:
                - company_linkedin_url
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                elements:
                  - linkedinUrl: example
                    name: example
                    position: example
                pagination: {}
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 0.1
        result_count_field: elements
  /linkedin_company_posts:
    post:
      operationId: linkedin_company_posts
      summary: LinkedIn Company Posts
      description: >-
        Get recent posts published by a LinkedIn company. Supports filtering by
        date recency and cursor-based pagination.


        **Pricing:** 0.2 credits per result
      tags:
        - Posts
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: Page number for pagination (1-based, default 1).
                  default: 1
                linkedin_company_url:
                  type: string
                  description: LinkedIn company URL (use this, linkedin_company_id, or
                    linkedin_company_universal_name).
                linkedin_company_id:
                  type: string
                  description: LinkedIn company numeric ID (fastest lookup).
                linkedin_company_universal_name:
                  type: string
                  description: Last path segment of the company LinkedIn URL (e.g. northwind-robotics).
                posted_limit:
                  type: string
                  description: "Pre-filter posts by recency: 24h, week, or month."
                  enum:
                    - 24h
                    - week
                    - month
                scrape_posted_limit:
                  type: string
                  description: "Scrape posts until this recency threshold is met: '1h', '24h',
                    'week','month', '3months', '6months', 'year'."
                  enum:
                    - 1h
                    - 24h
                    - week
                    - month
                    - 3months
                    - 6months
                    - year
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                elements:
                  - author:
                      avatar:
                        height: 400
                        url: https://media.licdn.com/dms/image/example-logo.jpg
                        width: 400
                      id: "11111111"
                      info: 2,288 followers
                      linkedinUrl: https://www.linkedin.com/company/northwind-robotics/posts
                      name: Northwind Robotics
                      publicIdentifier: null
                      type: company
                      universalName: northwind-robotics
                      urn: "11111111"
                      website: null
                      websiteLabel: null
                    comments: []
                    content: >-
                      People still think Northwind Robotics only builds
                      warehouse hardware.


                      Our founder, Ada Lovelace, disagrees. We sat down with
                      her to ask about the platform, the API, and what comes
                      next.


                      Turn the sound on and watch to the end.


                      #NorthwindRobotics #Automation #GTM
                    contentAttributes:
                      - hyperlink: https://www.linkedin.com/in/ACoAAAExampleMemberUrn0000000000000000
                        length: 13
                        profile:
                          firstName: Ada
                          id: ACoAAAExampleMemberUrn0000000000000000
                          lastName: Lovelace
                          linkedinUrl: https://www.linkedin.com/in/ada-lovelace
                          publicIdentifier: ada-lovelace
                        start: 64
                        textLink: null
                        type: PROFILE_MENTION
                    engagement:
                      comments: 1
                      id: "7458081859688669184"
                      likes: 22
                      reactions:
                        - count: 17
                          type: LIKE
                        - count: 3
                          type: EMPATHY
                        - count: 2
                          type: PRAISE
                      shares: 1
                    entityId: "7458081860720689153"
                    header:
                      text: null
                    id: "7458081860720689153"
                    linkedinUrl: https://www.linkedin.com/posts/northwind-robotics_automation-gtm-activity-7000000000000000000-abcd
                    postImages: []
                    postVideo:
                      thumbnailUrl: https://media.licdn.com/dms/image/example-logo.jpg
                      videoUrl: https://dms.licdn.com/playlist/vid/example-video.mp4
                    postedAt:
                      date: 2026-05-07T09:14:40.056Z
                      postedAgoShort: 1mo
                      postedAgoText: 1 month ago • Edited • Visible to anyone on or off LinkedIn
                      timestamp: 1778145280056
                    shareLinkedinUrl: https://www.linkedin.com/feed/update/urn:li:ugcPost:7458081859688669184
                    shareUrn: urn:li:ugcPost:7458081859688669184
                    socialContent:
                      hideCommentAction: false
                      hideCommentsCount: false
                      hideReactAction: false
                      hideReactionsCount: false
                      hideRepostsCount: false
                      hideSendAction: true
                      hideShareAction: true
                      hideSocialActivityCounts: false
                      hideViewsCount: false
                      shareUrl: https://www.linkedin.com/posts/northwind-robotics_automation-gtm-activity-7000000000000000000-abcd?
                      showContributionExperience: false
                      showSocialDetail: true
                      trustInterventionBanner: null
                pagination:
                  pageNumber: 1
                  pageSize: 1
                  paginationToken: 1758430021-1781853930031-c1cf744f67f08d85017b7d298576af27
                  previousElements: 0
                  totalElements: 1
                  totalPages: 1
                query:
                  authorsCompanyIds: []
                  companyIds:
                    - "11111111"
                  companyUniversalName: northwind-robotics
                  page: "1"
                  postedLimit: past-week
                  profileIds: []
                status: 200
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        base_credits_per_call: 0
        credits_per_result: 0.2
        result_count_field: elements
  /linkedin_company_search:
    post:
      operationId: linkedin_company_search
      summary: LinkedIn Company Search
      description: >-
        Search LinkedIn companies by name, location, size, and industry. Returns
        company profiles with follower counts and summaries.


        **Pricing:** 0.1 credits per result
      tags:
        - Search
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: Page number for pagination (1-based, default 1).
                  default: 1
                search_query:
                  type: string
                  description: Keywords to search for in company names.
                location:
                  type: string
                  description: Filter companies by location (LinkedIn autocomplete; may be
                    ambiguous - use geoId for precision).
                geo_id:
                  type: string
                  description: LinkedIn Geo ID - overrides location; use geo_id_search to resolve.
                company_size:
                  type: string
                  description: "Comma-separated size ranges: 1-10, 11-50, 51-200, 201-500,
                    501-1000, 1001-5000, 5001-10000, 10001+."
                  enum:
                    - 1-10
                    - 51-200
                    - 201-500
                    - 501-1000
                    - 1001-5000
                    - 5001-10000
                    - 10001+
                linkedin_industry_id:
                  type: string
                  description: LinkedIn industry ID. Comma-separated for multiple.
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                elements:
                  - followers: 2K followers
                    id: "123456"
                    industry: Software Development
                    linkedinUrl: https://www.linkedin.com/company/northwind-robotics/
                    location:
                      linkedinText: United States
                    logo: https://media.licdn.com/dms/image/example-logo.jpg
                    name: Northwind Robotics
                    summary: Warehouse automation for logistics teams.
                    universalName: northwind-robotics
                error: null
                pagination:
                  pageNumber: 1
                  totalElements: 1
                  totalPages: 1
                query:
                  location: United States
                  page: 1
                  search: Google
                status: 200
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        base_credits_per_call: 0
        credits_per_result: 0.1
        result_count_field: elements
  /linkedin_job_detail:
    post:
      operationId: linkedin_job_detail
      summary: LinkedIn Job Details
      description: >-
        Get full LinkedIn job details including description, workplace type, and
        employment type.


        **Pricing:** 1 credit per call
      tags:
        - Enrichment
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id:
                  type: string
                  description: ID of the LinkedIn job (must be an active job)
                url:
                  type: string
                  description: URL of the LinkedIn job (alternative to job_id)
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                element:
                  companyName: example
                  descriptionText: example
                  employmentType: example
                  id: example
                  title: example
                  workplaceType: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 1
  /linkedin_job_search:
    post:
      operationId: linkedin_job_search
      summary: LinkedIn Job Search
      description: |-
        Search LinkedIn jobs by title, company, location, and more.

        **Pricing:** 0.1 credits per result
      tags:
        - Search
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Job title keyword
                company:
                  type: string
                  description: Company name or LinkedIn company URL
                location:
                  type: string
                  description: Location text filter
                geoId:
                  type: string
                  description: LinkedIn Geo ID for precise location filtering
                jobType:
                  type: string
                  description: full_time, part_time, contract, temporary, internship
                  enum:
                    - full_time
                    - part_time
                    - contract
                    - temporary
                    - internship
                experienceLevel:
                  type: string
                  description: internship, entry, associate, mid-senior, director, executive
                  enum:
                    - internship
                    - entry
                    - associate
                    - mid-senior
                    - director
                    - executive
                page:
                  type: integer
                  description: Page number for pagination
                  default: 1
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                elements:
                  - companyName: example
                    id: example
                    location:
                      linkedinText: example
                    title: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 0.1
        result_count_field: elements
  /meta_ads_library_scraper_sync:
    post:
      operationId: meta_ads_library_scraper_sync
      summary: Meta Ads Library Scraper
      description: >-
        Scrape Meta (Facebook/Instagram) Ad Library — get active ads, creatives,
        spend ranges, and targeting.


        **Pricing:** 1 credit per result
      tags:
        - Ads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                meta_ad_url:
                  type: string
                  description: URL of the Meta Ad to scrape
                limit:
                  type: integer
                  description: Max results to return (max 100)
                  default: 0
              required:
                - meta_ad_url
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                adArchiveID: example
                adStatus: example
                adText: example
                ctaDomain: example
                pageName: example
                publisherPlatforms: []
                startDate: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_result: 1
        result_count_field: _list_count
  /normalize_company:
    post:
      operationId: normalize_company
      summary: Normalize Company
      description: >-
        Clean and normalize a company name by removing legal suffixes, extra
        whitespace, and punctuation.


        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: Company name to normalize (e.g. ACME TECHNOLOGIES, INC.)
                normalize_case:
                  type: boolean
                  description: Convert to title case (default true)
                  default: false
              required:
                - company_name
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                normalized: example
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /normalize_list:
    post:
      operationId: normalize_list
      summary: Normalize List
      description: >-
        Split a delimited string into a clean list, optionally removing empty
        values.


        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  description: Delimited string to split and deduplicate
                remove_empty_values:
                  type: boolean
                  description: Remove empty items after splitting (default false)
                  default: false
              required:
                - input
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                list: []
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /normalize_phone:
    post:
      operationId: normalize_phone
      summary: Normalize Phone
      description: >-
        Parse and normalize a phone number to E.164 format with optional country
        code hint.


        **Pricing:** 0.5 credits per call
      tags:
        - Utilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  type: string
                  description: Phone number to normalize (any format)
                country_code:
                  type: string
                  description: ISO country code hint (e.g. US)
              required:
                - phone_number
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
              example:
                country: example
                e164: example
                national: example
                valid: true
        4XX:
          description: Client error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        5XX:
          description: Server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - API Key: []
      x-pricing:
        credits_per_call: 0.5
  /people_search:
    post:
      operationId: people_search
      summary: People Search
      description: >-
        Search LinkedIn profiles by company/account and contact filters such as
        domain, industry, employee size, job title, and location.


        **Pricing:** 0.1 credits per result
      tags:
        - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: Page number, zero-based.
                  default: 0
                limit:
                  type: integer
                  description: Number of items per page.
                  default: 10
                linkedin:
                  type: array
                  description: LinkedIn account URLs.
                domain:
                  type: array
                  description: Company domains.
                industry:
                  type: array
                  description: Industry names.
                employee_size_start:
                  type: integer
                  description: Minimum employee count.
                employee_size_end:
                  type: integer
                  description: Maximum employee count.
                job_title:
                  type: array
                  description: Job titles to match.
                location:
                  type: array
                  description: Locations to match.
              required:
                - limit
                - page
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
[...]
